/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 May, 2022, 6:12:36 PM
    Author     : SUBHAHARINI
*/
           body{
              background-color:whitesmoke;
           }
           ul {
               list-style-type: none;
               margin: 0;
               padding-left:10%;
               overflow: hidden;
               background-color: #333;
            }

            li {
              float: left;
              
            }

            li a {
               display: block;
               color: white;
               text-align: center;
               padding:15px 20px;
               text-decoration: none;
            }
            <!--transitions-->
           li a:hover {
             background-color: #111;
             }
